@page "{EmployeeId}"
@model SurveyAnalysis.Pages.Master.Delete_EmployeeModel
@{
}

<h2> Delete!</h2>
<div class="alert alert-danger">
    Are you sure you want to delete @Model.Employee_Survey.EmpName_E?
</div>
<form method="post">
    <button type="submit" class="btn btn-danger">Yes!</button>
    <a asp-page="Employee" class="btn btn-default">Cancel</a>
</form>