@page
@model AboutModel
@{
    ViewData["Title"] = "DAR AL RIYADH PROFILE";
}


@*<h2>@ViewData["Title"]</h2>*@
</br>

<style>
    body, html {
        height: 100%;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    /*.bg-image {*/
        /* The image used */
        /*background-image: url("../wwwroot/images/Check.jpg");*/
        /* Add the blur effect */
        /*filter: blur(8px);
        -webkit-filter: blur(2px);*/
        /* Full height */
        /*height: 15%;*/
        /* Center and scale the image nicely */
        /*background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }*/

    /* Position text in the middle of the page/image */
    .bg-text {
        /*background-color: rgb(0,0,0);*/ /* Fallback color */
        /*background-color: rgba(0,0,0, 0.4);*/ /* Black w/opacity/see-through */
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        font-weight: bold;
        border: 3px solid #f1f1f1;
        width: 206%;
        padding: 20px;
        text-align: center;
    }
</style>
<div class="row">

    @*<div class="col-md-6">
        <img src="~/images/Check.jpg" height="200" />
    </div>*@
    <div class="col-md-6">
        <div class="bg-text">
            <h2 style="font-size:35px">DAR AL RIYADH PROFILE</h2>
        </div>
    </div>
</div>

<h3>PRIVACY POLICY</h3>

<div>
    <p>
        We take that trust seriously and hope this privacy policy (the "Policy") will help you understand what kind of Personal Information
        we may gather about you when you visit the Survey Analysis website, how we may use the Personal Information you have provided to us,
        to whom we disclose such Personal Information, and how you can correct or update the Personal Information you have provided us.
    </p>
</div>

<div>
    <p>
        If you do not agree to the terms of this Policy, you should not use the Site. We reserve the right to update or modify this
        Policy from time to time, and such changes to the Policy will be effective immediately, therefore please bookmark this page
        and review it periodically to assure familiarity with the most current version of the Policy.
    </p>
</div>

<div>
    <p>
        This Policy is the sole authorized statement of Restaurantware practices with respect to the online collection of personal information
        through the Site and the usage of such information.
    </p>
</div>

<h3>WHAT PERSONAL INFORMATION WE COLLECT</h3>
<div>
    <p>
        We collect only that Personal Information that you specifically and voluntarily provide to us while using our Site.
        For the purpose of this Policy, we define Personal Information as information that identifies you as a specific individual,
        for example, your name, account number, physical or email address, and phone number.
    </p>
</div>

<h3>COOKIES</h3>

<div>
    <p>
        Upon visiting our Site, we will assign you a unique ID in the form of a "cookie". A cookie is a piece of information
        that is sent to your browser by a website that help websites such as our Site to remember information about your visit
        and save your preferred settings. Cookies are also used for such purposes as facilitating and personalizing your shopping
        and ordering experience, keeping track of your shopping basket during your visit, helping diagnose problems with our server
        and administering our Site. In our case, we may use the information collected through cookies for marketing purposes to inform
        you of special offers, to better understand your needs, or to answer your questions.
    </p>
</div>