@page
@model ContactModel
@{
    ViewData["Title"] = "Contact Us";
}
@*<h2>@ViewData["Title"]</h2>*@


</br>
<style>
    body, html {
        height: 100%;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    /* Position text in the middle of the page/image */
    .bg-text {
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        font-weight: bold;
        border: 3px solid #f1f1f1;
        width: 206%;
        padding: 20px;
        text-align: center;
    }
</style>
<div class="row">
    <div class="col-md-6">
        <div class="bg-text">
            <h2 style="font-size:35px">Contact Us</h2>
            <p>We serve our clients from multiple locations in Saudi Arabia. In case of inquiries, complaints or suggestions please contact us through one of the beneath listed channels.</p>
            <address>
                DAR AL RIYADH
                <br />
                Building No.8616, Salah Al Din Al Ayoubi Road
                <br />
                PO Box - 5364
                <br />
                Riyadh - 12623, Saudi Arabia
                <br />
                <a href="Phone Number: 682-246-0581">
                    Call us at 682-246-0581
                </a>
            </address>
            <address>
                <strong>Support:</strong> <a href="mailto:Support@example.com">info@daralriyadh.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">ahmedzaki3721@gmail.com</a>
            </address>

        </div>
    </div>
</div>

