@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

</br>
<style>
    body, html {
        height: 100%;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    /* Position text in the middle of the page/image */
    .bg-text {
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        font-weight: bold;
        border: 3px solid #f1f1f1;
        width: 206%;
        padding: 20px;
        text-align: center;
    }
</style>
<div class="row">
    <div class="col-md-6">
        <div class="bg-text">
            <h2 style="font-size:35px">International Expertise…Local Insights…</h2>
            <p>
                For over 45 years, Dar Al Riyadh has been a pioneer in the development of professional services and solutions for Government, institutions and corporate clients in throughout Saudi Arabia.
                Today, our portfolio ranges from design and Geomatics solutions, to security systems, construction management services, and professional staffing.
            </p>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h2>SURVEY ANALYSIS</h2>
        <p>
            Surveys can help gauge the representativeness of individual views and experiences. When done well, surveys provide hard numbers on people's opinions and behaviors that can be used to make important decisions.
        </p>
        <p>
            We place a high value on hearing employees' opinions about how the team is doing since doing so helps us identify the main issues, which can then be dealt with and eventually resolved. We are able to provide our clients with the greatest service this way.
        </p>
    </div>
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/SS.png" alt="ASP.NET" class="img-responsive" />

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>
            Through our nationwide office network, Dar Al Riyadh fulfils the needs of clients across the (semi) governmental and private sectors. Our centers of excellence serve all prime sectors of the Kingdom, from oil and gas to transportation, education, and healthcare, with an array of value-added services, including engineering, construction management, industrial systems, client support services, and geomatics.
        </p>

    </div>
</div>



